parameters:
    app: identities
    discovery_host: api.discovery.ds
    database_host: identities_database
    database_port: 5432
    database_name: identities
    database_user: identities
    database_password: identities
    redis_host: identities_redis
    redis_name: 5
    redis_prefix: ''
    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/key'
    jwt_public_key_path: '%kernel.root_dir%/../var/jwt/key.pub'
    jwt_key_pass_phrase: ''
    jwt_token_ttl: 3600
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: secret
    cors_allow_origin: '*'
